/*CSS reset*/
*{
    box-sizing: border-box;
    position: relative;
    min-width: 0;
    color:#333333;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    min-height: 100dvh;
    background-color:#eeeeec;
    
}

h1,h2,h3,h4{
    text-wrap: balance;
}

p{
    text-wrap: pretty;
}

/*Estilos*/

.header_page{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
    background-color: white;
    border-radius: 10px;
    margin: 10px 10px 5px 10px ; 
}
.options_ul{
    display: flex;
    list-style: none;
    gap: 50px;
    margin-right: 20px;
}

.main_section{
    display: flex;
    background-color: white;
    flex-direction: column;
    margin: 40px 10px 5px 10px ;
    border-radius: 10px;
    box-shadow: 20px 20px 10px rgb(221, 208, 208);
}

.section_tipo, #tipo_conversion, #label_tipo{
    display: flex;
    flex-direction: column;
    margin: 10px 25px 0 25px;
}
#label_tipo{
    font-size: 15px;
}
.contenedor-selects{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:25px;
    gap: 10px;
    align-items: center;
    width: 100%;
}
.select-group{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
#selectOrigen,#selectDestino{
    margin: 5px 50px 0 50px;
}

.cantidad_convertir{
    display: flex;
    flex-direction: column;
    margin: 60px 50px 0 50px;
}
#label_cantidad{
    font-size: 15px;
    margin-bottom: 5px;
}

#label_origen,#label_destino{
    font-size: 15px;
    margin-left: 50px;
}
#tipo_conversion,#selectOrigen,#selectDestino,#valor{
    border: 1px solid #6cb7f5;
    outline: none;
    padding: 10px;
    border-radius: 5px;
}


.div_button{
    display: flex;
    flex-direction: column;
    margin: 30px 50px 0 50px;
    
}
#convertir,#cambiar_idioma,#cambiar_modo{
    border-radius: 10px;
    padding: 10px;
    background-color: #3366ff;
    color: white;
    font-size: 15px;
    border: none;
}

.div_resultado{
    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: #3366ff;
    margin: 30px 50px 10px 50px;
    border-radius: 10px;
}
#resultado{
    color: white;
}


#footer_page{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: white;
    box-shadow: 20px 20px 10px rgb(221, 208, 208); 
    margin: 60px 10px 5px 10px ; 
}



/*media queries*/

